<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/formularios.css">

    <!-- fontAwesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

</head>

<body>
    <header>
        <div class="logo-buscador">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre"></a>
            </div>
            <div class="busqueda">
                <input type="search" placeholder="Buscar productos, marcas...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <p class="cuotasYtarjeta"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>



        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Créa tu cuenta<i class="fa-regular fa-id-card"></i>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="register">
        <form action="/" method="post" class="registro">
            <div class="form-datos">
                <input type="text" name="nombre" id="nombre" placeholder="nombre y apellido" class="datos">
                
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="datos">
                
                <input type="email" name="email" id="email" placeholder="E-mail" class="datos">
                
                <h4>Fecha de nacimiento</h4>

                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="datos">
                
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="datos">
            </div>
            
            <div class="form-datos"> 
                <div class="form-datos"> 
                    <h4>Perfil de usuario</h4>
                </div> 
                
                <div class="form-perfil">
                    <div>
                        <input type="radio" name="comprador" id="comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    
                    <div>
                        <input type="radio" name="vendedor" id="vendedor">
                        <label for="vendedor">vendedor</label>
                    </div>
                </div> 

                <div class="form-perfil">
                    
                </div>
                    
                
            </div>

            <div class="form-datos">
                <h4>Intereses</h4>
            </div>
            
            <div>
                <div class="datos">    
                    <input type="checkbox" name="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>

                <div class="form-datos">
                    <input type="checkbox" name="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>

                <div class="form-datos">
                    <input type="checkbox" name="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div> 
                
                <div class="form-datos">
                    <input type="checkbox" name="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>

                <div class="form-datos">
                    <input type="checkbox" name="vidaSana" id="vidaSana">
                    <label for="vidaSana">Vida sana</label>
                </div>
            </div> 
            
            <div class="form-datos">
                <label for="fotoPerfil">Foto de Perfil:  </label>
                <input type="file" name="fotoPerfil" id="fotoPerfil">

                <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" class="datos">
                <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese nuevamente la contraseña" class="datos">
            </div>

            <div class="form-datos">
                <button type="submit" class="boton-form">Enviar</button>
            </div>

            <div class="form-datos">
                <button type="reset" class="boton-cancel">Cancelar</button>
            </div>
        </form>
    </main>

    <footer>
        <article>
            <div class="iconos">
                <i class="fa-solid fa-credit-card"></i>
            </div>

            <h4>Pagá con tarjeta o en efectivo</h4>

            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </article>

        <article>
            <div class="iconos">
                <i class="fa-solid fa-gift"></i>
            </div>

            <h4>Envio gratis desde los $ 2.500</h4>

            <p>
                Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </article>

        <article>
            <div class="iconos">
                <i class="fa-solid fa-user-shield"></i>
            </div>

            <h4>Seguridad de principio a fin</h4>

            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas gacer porque estás siempre
                protegid@.
            </p>

            <span class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</span>
        </article>
    </footer>

    
</body>
</html>